{% extends 'index.html' %} {% block content %}

{% load crispy_forms_tags %}

{% if posted %}
<div class="alert alert-success" role="alert">
    Your post is awaiting approval
</div>
<script>
    setTimeout(function () {
        window.location.href = 'https://8000-jeffreybull-djangoblogj-cbkyuhxvxdl.ws-eu89.gitpod.io/';
    }, 2500);
</script>
{% else %}

{% if user.is_authenticated %}
<h4>Submit new post:</h4>
<p>Posting as: {{ user.username }}</p>
<form method="post">
    {{ submit_form | crispy }}
    {% csrf_token %}
    <a href="{% url 'home' %}">
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
    </a>
</form>
{% endif %}
{% endif %}

{% endblock content %}